.box {
  margin-bottom: 24px;
  padding: 32px;
  background: $white-color;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;
  transition: transform 0.3s;

  &:hover {
    box-shadow: 0 9px 18px rgba(37, 41, 49, 0.06);
  }

  &__number {
    width: max-content;
    margin-bottom: 24px;
    padding: 2px 12px;

    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;

    color: $blue-color;
    background-color: rgba(32, 96, 246, 0.1);
    border-radius: 23px;
  }

  &__text {
    margin-bottom: 32px;
    @include OpenSans;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
  }

  &--up {
    @include onSmartphone {
      transform: translateY(-40%);

      &:hover {
        transform: translateY(-40%) scale(1.01);
      }
    }
  }

  &--down {
    @include onSmartphone {
      transform: translateY(10%);

      &:hover {
        transform: translateY(10%) scale(1.01);
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    // transition: color 0.3s;

    &:hover * {
      color: $blue-color;
      transition: color 0.3s;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    background-image: url(../images/right.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $blue-color;
    border-radius: 50%;

    &:hover {
      transition: transform 0.5s;
      transform: scale(1.05);
    }
  }

  &__learn {
    padding-left: 16px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563;
  }
}
