.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  @include onSmartphone {
    width: 264px;
  }

  font-weight: 600;
  font-size: 15px;
  line-height: 22px;

  color: $white-color;
  background-color: $blue-color;
  border-radius: 8px;
  text-decoration: none;

  &:hover {
    background-color: $blue-hover;
    transition: background-color 0.5s;
    box-shadow: 0 9px 18px rgba(90, 113, 160, 0.1);
  }

  &:active {
    color: $blue-color;
    background-color: $gray-bg-secondary;
    border: 1px solid $blue-color;
    transition: background-color 0.5s;
  }
}
