.contact-us {
  &__title {
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 32px;
    line-height: 150%;

    color: $white-color;

    @include onSmartphone {
      margin-bottom: 56px;
    }
  }

  &__text {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;

    text-transform: uppercase;
    color: $white-color;
    opacity: 0.5;
  }

  &__socials {
    display: flex;
  }

  &__socials-link {
    margin-right: 32px;
    text-decoration: none;
    width: 32px;
    height: 32px;
  }

  &__link {
    display: block;
    margin-bottom: 40px;
    @include OpenSans;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: $white-color;

    @include onSmartphone {
      margin-bottom: 48px;
    }
  }

  &__socials * {
    transition: fill 0.3s;

    &:hover path {
      fill: $blue-color;
    }
  }

  &__content {
    margin-bottom: 124px;
  }
}
