.form {
  &__button {
    border: none;
    font-family: inherit;
    cursor: pointer;
  }
}

.form-field {
  margin-bottom: 48px;
  display: block;
  width: 100%;
  height: 41px;
  padding-bottom: 16px;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  border-bottom-color: $white-color;
  color: $white-color;
  outline: none;

  &:hover::placeholder {
    color: $white-color;
  }

  &:hover {
    color: $white-color;
  }

  &:focus {
    color: $white-color;
    padding-bottom: 15px;
    border-bottom-width: 2px;
    border-bottom-color: $blue-color;
  }
}

.form-field--textarea {
  min-height: 50px;
  font-family: inherit;
  resize: none;
}
