.services {
  @include onTablet {
    padding-top: 103px;
  }

  &__subtitle {
    margin: 0 0 16px;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $gray-subtitle;
  }

  &__title {
    margin: 0 0 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: $gray-secondary;
  }

  &__text {
    margin: 0 0 48px;
    @include OpenSans;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $light-gray-text;
  }
}
