.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 456px;
  padding: 32px 48px;

  background-color: $white-color;
  box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 16px;

  &__image-container {
    position: relative;
    margin: 42px 0 70px;

    &::after,
    &::before {
      content: "";
      width: 109px;
      height: 44px;
      background-color: $blue-color;
      border-radius: 12px;
      position: absolute;
      transform: rotate(-60deg);

      @include onSmartphone {
        width: 139px;
        height: 56px;
      }
  
      @include onTablet {
        width: 109px;
        height: 44px;
      }
  
      @include onNotebook {
        width: 139px;
        height: 56px;
      }
    }

    &::after {
      bottom: 0;
      right: -40px;
    }

    &::before {
      top: 0;
      left: -40px;
    }
  }

  &__image {
    z-index: 1;
    position: relative;

    @include square(110px);
    border-radius: 50%;
    transition: transform 0.3s;
    cursor: pointer;

    @include onSmartphone {
      @include square(140px);
    }

    @include onTablet {
      @include square(110px);
    }

    @include onNotebook {
      @include square(140px);
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__quote {
    margin-bottom: 11px;
    width: 21px;
    height: 19px;
    background-image: url(../images/testimonials/quote.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }

  &__text {
    margin: 0 0 16px;
    @include OpenSans;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: $light-gray-text;
  }

  &__name {
    margin: 0 0 4px;
    @include OpenSans;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: $gray-secondary;
  }

  &__position {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 3px;
    color: $gray-subtitle;
    text-transform: uppercase;
  }
}
