.vision {
  text-align: center;
  padding: 200px 0;
  height: 691px;
  background-color: $white-color;
  background-image: url(../images/shapes.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 64px;

  &__title {
    margin: 0 0 24px;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: $gray-secondary;

    @include onSmartphone {
      font-size: 52px;
    }

    @include onTablet {
      line-height: 150%;
    }
  }

  &__text {
    margin: 0 0 56px;
    @include OpenSans;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: $light-gray-text;

    @include onSmartphone {
      font-size: 24px;
    }
  }

  &__button {
    width: 264px;
    height: 56px;
    margin: 0 auto;
  }
}
