$gray-bg-color: #2c2c2c;
$white-color: #fff;
$blue-color: #2060f6;
$blue-hover: #144ed4;
$blue-active: #164fd3;
$gray-secondary: #253757;
$light-gray-text: #6c788b;
$gray-bg-secondary:#e5e5e5;
$blue-bg-secondary: #f2f6fa;
$gray-subtitle: #c0cdd7;

$time: 0.3s;
